@import "~@fluentui/react/dist/sass/References.scss";

.datePickerContainer {
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 300px;
}

.label {
  margin-top: 25px;
}

.documentContainer {
  margin-top: 15px;
}
